.page {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(180deg, #FADC9E -32.46%, rgba(255, 255, 255, 0) 93.53%);

  @media (max-height: 768px) {
    height: 100%;
    padding-bottom: 4rem;
  }
    
}

.logo {
  margin-top: 3rem;
  width: 20rem;
  &:hover {
    cursor: pointer;
  }
}

.box {
  padding-top: 2.6rem;
  margin-top: 3rem;  
  width: 37rem;
  height: 37rem;
  background-color: white;
  box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  border: 4px solid linear-gradient(180deg, #FADC9E 0%, #D27653 100%);
  align-items: center;
  justify-content: center;
  .box_lt {
    text-align: center;
    color: black;
    margin: 0;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
  }
  .box_st {
    margin: 0;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    text-align: center;
    color: black;
    margin-top: .75rem;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    box-shadow: none;
    .box_lt {
      font-size: 2.5rem;
    }
    .box_st {
      font-size: 1rem;
    }
  }
}

.bar {
  width: 80%;
  height: 0.5rem;
  border-radius: 10px;
  margin: 1rem auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background: #E4E6E8;
  .cbar {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background: #E9B27F;
  }
}

.onetwo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: -1rem;
}

.btns {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2.75rem;
  gap: 2rem;
}

.authbtn {
  width: 80%;
  height: 3.8rem;
  border-radius: 10px;
  background: none;
  border: none;
  color: black;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 4px solid #FADC9E;
  position: relative;
  img {
    position: absolute;
    left: 0.5rem;
    margin-left: 1rem;
    margin-right: 6.5rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  &:hover {
    background: #fffbf3;
  }
}

.fb {
  img {
    width: 1.86rem;
    height: 1.86rem;
    margin-right: 5.7rem;
  }
}

.cbar {
  animation: cbar 2.5s ease-in-out infinite;
  @keyframes cbar {
    0% {
      width: 49%;
    }
    50% {
      width: 51%;
    }
    100% {
      width: 49%;
    }
  }
}

// STEP 2 PAGE

.paget {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(180deg, #FADC9E -32.46%, rgba(255, 255, 255, 0) 93.53%);
}

.pleft {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid green;
}


.leftbox {
  padding-top: 2.6rem;
  width: 37rem;
  height: 45rem;
  background-color: white;
  box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  border: 4px solid linear-gradient(180deg, #FADC9E 0%, #D27653 100%);
  align-items: center;
  justify-content: center;
  .bigtext {
    text-align: center;
    color: black;
    margin: 0;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
  }
  .box_st {
    margin: 0;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    text-align: center;
    color: black;
    margin-top: .75rem;
  }
}

.cbartwo {
    width: 86%;
    height: 100%;
    border-radius: 10px;
    background: #E9B27F;
}

.pright {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid red;
}

.cbartwo {
  animation: cbar 2.5s ease-in-out infinite;
  @keyframes cbar {
    0% {
      width: 86%;
    }
    50% {
      width: 87%;
    }
    100% {
      width: 86%;
    }
  }
}

.stripe {
  margin-top: 1.5rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.stripe_button {
  display: flex;
  width: 100%;
  margin-top: 2.5rem;
  background: #FADC9E;
  background: transparent;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  border: 2px solid #FADC9E;
  height: 3.5rem;
  color: #f5cc7b;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background: #ffefcf;
    color: #fac761;
  }

}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////

.ldsring {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
}
.ldsring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 128px;
  height: 128px;
  margin: 16px;
  border: 16px solid #352e3e;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #352e3e transparent transparent transparent;
}
.ldsring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.rollerpage {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FADC9E -32.46%, rgba(255, 255, 255, 0) 93.53%);
  h1 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    color: #352e3e;
    margin: 0;
    margin-top: 2.5rem;
  }
}